.type_background {
    background: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.water_background {
    background: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/img/type_backgrounds/type_water_background.png);
}

.bug_background {
    background: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/img/type_backgrounds/type_bug_background.png);
}

.steel_background {
    background: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/img/type_backgrounds/type_steel_background.png);
}

.electric_background {
    background: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/img/type_backgrounds/type_electric_background.png);
}

.grass_background {
    background: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/img/type_backgrounds/type_grass_background.png);
}

.rock_background {
    background: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/img/type_backgrounds/type_rock_background.png);
}

.ground_background {
    background: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/img/type_backgrounds/type_ground_background.png);
}

.psychic_background {
    background: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/img/type_backgrounds/type_psychic_background.png);
}

.fairy_background {
    background: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/img/type_backgrounds/type_fairy_background.png);
}

.dark_background {
    background: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/img/type_backgrounds/type_dark_background.png);
}

.dragon_background {
    background: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/img/type_backgrounds/type_dragon_background.png);
}

.poison_background {
    background: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/img/type_backgrounds/type_poison_background.png);
}

.ghost_background {
    background: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/img/type_backgrounds/type_ghost_background.png);
}

.normal_background {
    background: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/img/type_backgrounds/type_normal_background.png);
}

.flying_background {
    background: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/img/type_backgrounds/type_flying_background.png);
}

.fighting_background {
    background: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/img/type_backgrounds/type_fighting_background.png);
}

.ice_background {
    background: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/img/type_backgrounds/type_ice_background.png);
}