.main_content_pokecard {
    background-color: rgb(15, 32, 41);
    width: 300px;
    height: 500px;
    border-radius: 16px;
}

.main_content_pokecard:hover {
    transform: scale(1.025);
    cursor: pointer;
    transition-duration: 200ms;
}

.main_content_pokecard_header {
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px
}

.main_content_pokecard_header h3 {
    font-weight: 400;
    font-size: 24px;
}

.main_content_pokecard_main {
    width: 100%;
    height: 72%;
    display: flex;
    justify-content: center;
    align-items: center;    
    position: relative;
}

.main_content_pokecard_main_pokemon_img {
    height: 70%;
    width: 70%;
    position: absolute;
    top: calc((100% - 70%)/2);
    left: calc((100% - 70%)/2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content_pokecard_main_pokemon_img img {
    height: 90%;
    width: 90%;
    
}

.type_background_split {
    position: relative;
    display: flex;
}

.background_left,
.background_right {
    width: 50%;
    height: 100%;
}

.background_left img,
.background_right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_content_pokecard_footer {
    width: 100%;
    height: 15%;
}

.main_content_pokecard_footer_types {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.main_content_pokecard_footer_types img {
    width: 64px;
    height: 64px;
}